:root {
  --main-blue: #2e86de;
  --light-blue: #86b7fc;
  --pale-blue: #d7eaf2;
  --yellow: #f6e58d;
  --light-green: #aed59d;
  --green: #6ab04c;
  --coral: #e88787;
  --melon: #eeb2af;
  --pale: #e4f2f0;
}

body {
  margin: 0;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

main {
  position: relative;
  margin-inline: auto;
  width: 1200px;
  padding: 10px;
}

h2 {
  color: #00aaee;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: medium;
  padding: 0;
  margin: 0;
  font-size: 25px;
  margin-bottom: 15px;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.custom-label {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: medium;
  color: #313131;
}

.custom-select {
  font-family: "Raleway", sans-serif;
  font-style: regular;
  font-size: 12px;
  color: #646464;
  align-items: center;
  width: 130px;
}

#search-section {
  display: flex;
  gap: 20%;
}

.search-area {
  display: flex;
  align-items: center; /* Vertically center align the label and input */
  margin-right: 10px; /* Add some margin to the right */
}

header {
  border-bottom: 1px solid #dddfe5;
}

nav {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 1200px;
  margin-inline: auto;
}

.navbar-logo {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: bold;
  color: var(--main-blue);
}

.navbar-logout {
  display: flex;
  gap: 5px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: regular;
}

#user-greeting {
  color: rgb(63, 72, 121);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-weight: light;
  margin-right: 15px;
}

.run-list-title {
  margin-left: 20px; /* Adjust based on your layout */
}

.runs-grid,
#user-runs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.run-item {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 20px); /* Three items per row with gap */
  box-sizing: border-box;
}

.run-item h3 {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-weight: bold;
  margin-top: 0;
  margin: 0;
}

.run-item p {
  margin: 10px 0;
  color: #474747;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

.run-item button {
  color: white;
  font-family: "Raleway", sans-serif;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--main-blue);
}

.run-item button:hover {
  background-color: var(--light-blue);
}

.badge {
  padding: 2px 8px;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
}

.badge.level-newbie {
  border-color: #1e90ff;
  color: #1e90ff;
  font-family: "Raleway", sans-serif;
}
.badge.level-intermediate {
  border-color: #4169e1;
  color: #4169e1;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.badge.level-expert {
  border-color: #0000ff;
  color: #0000ff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.badge.status-Upcoming {
  border-color: AED59D;
  color: #6ab04c;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.badge.status-Expired {
  border-color: #ff0000;
  color: #ff0000;
}

#btn-back-to-list {
  position: absolute;
  top: 9px;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

/*for top two line of the table*/

#start-search-area,
#end-search-area {
  position: relative;
}

#start-point-suggestions,
#end-point-suggestions,
.meeting-point-suggestions {
  display: none;
  position: absolute;
  top: 23px;
  left: 0px;
  z-index: 10;
  background-color: #fff;
  opacity: 0.7;
  padding: 10px;
}

.meeting-point-input-groups {
  position: relative;
}

.suggestion {
  cursor: pointer;
  border-bottom: 1px solid lightblue;
}

.suggestion:hover {
  background-color: var(--main-blue);
  color: white;
}

.meeting-point-input-group {
  display: flex;
  gap: 5px;
  align-items: center;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  background-color: var(--main-blue);
  font-size: 16px;
  color: white;
  align-items: center;
}

.sm-button {
  padding: 4px 6px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  background-color: var(--light-blue);
  color: white;
}

.sm-button:hover {
  color: white;
  background-color: var(--main-blue);
}

#log-in,
#logout {
  background-color: var(--main-blue);
  color: white;
  transition: background-color 0.2s ease-in-out;
}

#sign-up {
  padding: 10px 20px;
  border: 1px solid var(--main-blue);
  border-radius: 5px;
  cursor: pointer;
  color: var(--main-blue);
  background-color: white;
}

#log-in:hover,
#logout:hover {
  background-color: var(--light-blue);
}

#sign-up:hover {
  background-color: var(--main-blue);
  color: white;
}

#auth {
  display: flex;
  margin-top: 20px;
  padding: 50px 10px;
  border-radius: 10px;
  justify-content: center;
}

#create-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 20%;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.auth-footer {
  display: flex;
  gap: 10px;
}

#run-details {
  padding: 30px 0;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
}

input[name="username"],
input[name="password"] {
  margin-bottom: 15px;
  width: 180px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  font-family: "Raleway", sans-serif;
  font-style: light;
}

input:invalid {
  border: 1px solid rgb(241, 56, 56);
}

#error-message {
  color: rgb(241, 56, 56);
  display: none;
}

.run-details-header {
  display: flex;
  justify-content: space-between;
}

#joinRun {
  border: 1px solid orange;
  color: orange;
  font-size: 16px;
  font-weight: 800;
  background-color: white;
}

#joinRun:disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: lightgray;
  border: 1px solid lightgray;
}

#joinRun:hover {
  background-color: orange;
  color: white;
  transform: scale(1.05);
}

#participantCount {
  font-size: 20px;
  font-weight: 800;
  color: orange;
  margin-right: 5px;
}

.comment-section {
  width: 100%;
}

.inputArea {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Raleway", sans-serif;
  font-style: regular;
}

#comInput {
  flex: 1;
  width: auto;
  max-width: 60%;
  height: 25px;
}

#comSubmit {
  width: 10%;
  height: 30px;
  text-align: center;
  display: inline-block;
  justify-content: center;
  background-color: var(--main-blue);
  color: #f0f0f0;
  border: none;
  font-size: 1em;
  border-radius: 7px;
}

#comSubmit:hover {
  background-color: var(--light-blue);
}

.comArea {
  display: flex;
  align-items: center;
}

#commentsSec {
  margin-top: 10px;
}

#create-run textarea {
  width: 743px;
  max-height: 300px;
  overflow-y: auto;
  resize: none;
}

#create-run form input,
form textarea,
form select {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  width: 180px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-style: light;
}

#create-run form .meeting-point-search {
  margin-bottom: 0;
}

#add-meeting-point {
  margin: 10px 0;
}

/** Filter run **/
#filter-run-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7; /* 浅灰色背景提升扁平化风格 */
  border-bottom: 2px solid #e0e0e0; /* 添加底部边框以区分筛选栏和列表 */
}

#filter-run-section > div {
  display: flex;
  align-items: center;
}

#filter-run-section label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

#filter-run-section select {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  outline: none;
}

#filter-run-section select:hover,
#filter-run-section select:focus {
  border-color: #999;
  cursor: pointer; /* 改变鼠标指针形状为手型，提高用户交互体验 */
}

/** user space **/

#user-space-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.user-space-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#user-space-section h2 {
  margin: 0;
  color: #333;
  font-weight: 600;
}

#back-to-main {
  padding: 8px 16px;
  background-color: var(--main-blue);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#back-to-main:hover {
  background-color: #0056b3;
}

.user-details,
.joined-runs {
  margin-bottom: 20px;
}

#user-name {
  font-size: 18px;
  color: #555;
}
