body {
  margin-inline: auto;
  width: 1000px;
  padding: 10px;
}

form {
  border: 1px solid #aaa;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.run-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.run-item h3 {
  margin-top: 0;
}

.run-details-card {
  background-color: white;
  border: 2px solid #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

#btn-back-to-list {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
}

#search-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

#start-point-suggestions {
  border: 1px solid #aaa;
}

#start-search-area,
#end-search-area {
  position: relative;
}

#start-point-suggestions,
#end-point-suggestions {
  position: absolute;
  top: 23px;
  left: 0px;
  z-index: 10;
  background-color: #fff;
  opacity: 0.7;
  padding: 10px;
}

.suggestion {
  cursor: pointer;
  border-bottom: 1px solid lightblue;
}

.suggestion:hover {
  background-color: #3579f6;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 300px;
}

#logout {
  position: absolute;
  top: 10px;  
  right: 100px;  
  padding: 10px 20px;
  border: 2px solid #55ebd2;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#logout:hover {
  background-color: #c05c3e;
}
 #log-in {
  padding: 10px 20px;
  border: 2px solid #1c84d8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#log-in:hover {
  background-color: #27d8df;
}

#auth {
  border: 10px solid #7db3bb;
  margin-top: 20px;
  padding: 50px;
  border-radius: 10px;
  margin-left: 100px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
  }
}

input[name="username"],
input[name="password"] {
  
  margin-bottom: 10px;
  width: 200px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 3px;
}